{%extends 'main.html'%}
{% load l10n %}
{% load formatting%}
{%block content%}
<div class="colorbox day {%if day.id == 1%}d1{%elif day.id == 2%}d2{%elif day.id == 3%}d3{%elif day.id == 4%}d4{%endif%}">
<div class="subheader">
	<div class="title day">
		{{day.title}}
	</div>
	<div class="date day">{{day.date}}</div>
	{%if day.description %}<div class="description">{{day.description}}</div>{%endif%}
</div>

<div class="subcontent day">
{%if events%}
<div class="events">
	<div class="program_title">Program dnia:</div>
	{%for category in events%}
		<h3>{{category.name}}</h3>
		{%for item in category.list%}
			<div class="event">{{item.hour_begin|date:"G.i"}}&nbsp;-&nbsp;{{item.hour_end|date:"G.i"}}:&nbsp;
			{%if item.description or item.place %}<a class="hdesc" href="#">{{item.title}}</a>{%else%}{{item.title}}{%endif%}
			<div class="event_desc">
			<div class="place">
				Miejsce:&nbsp;{{item.place}}</div>
				{{item.description|format}}
			</div>
			</div>
		{%endfor%}
	
	{%endfor%}
</div>
{%endif%}
<div class="list">
{%for item in list%}
	<div class="item">
			{{item.show_small}}
	</div>
{%endfor%}
</div>
</div>
</div>
{%endblock%}