{%extends 'main.html'%}
{% load l10n %}
{%block content%}
<div class="subheader">
	<div class="title">
		{{day.title}}
	</div>
	<div class="date">{{day.date}}</div>
	{%if day.description %}<div class="description">{{day.description}}</div>{%endif%}
</div>


{%if events%}
<div class="events">
	<div class="program_title">Program dnia:</div>
	{%for item in events%}
	<div class="event">{{item.hour_begin|date:"G.i"}}&nbsp;-&nbsp;{{item.hour_end|date:"G.i"}}:&nbsp;
	{%if item.description or item.place %}<a class="hdesc" href="#">{{item.title}}</a>{%else%}{{item.title}}{%endif%}
	<div class="event_desc">
	<div class="place">
		Miejsce:&nbsp;{{item.place}}</div>
		{{item.description}}
	</div>
	</div>
	
	{%endfor%}
</div>
{%endif%}
<div class="list">
{%for item in list%}
	<div class="item">
		{{item.show}}
	</div>
{%endfor%}
</div>
{%endblock%}