{%extends 'main.html'%}
{% load l10n %}
{%block content%}
<div class="subheader">
	<div class="title">
		{{day.title}}
	</div>
	<div class="date">{{day.date}}</div>
	{%if day.description %}<div class="description">{{day.description}}</div>{%endif%}
</div>
{%if guests%}
<div class="guests">
	<div class="program_title">Goście:</div>
	{%for item in guests%}
	<div class="guest">
		<div class="guest_title">{{item.guest.name}}</div>
		<div class="guest_info">
			<div class="hours">Czas spotkania:&nbsp;{{item.hour_begin|date:"G.i"}}&nbsp;-&nbsp;{{item.hour_end|date:"G.i"}}</div>
			<div class="place">Miejsce:&nbsp;{{item.place}}</div>
		</div>
		{%if item.guest.description %}<a class="hdesc" href="#">Dowiedz się więcej...</a>{%else%}{{item.title}}{%endif%}
		<div class="guest_desc">{{item.guest.description}}</div>
	</div>
	
	{%endfor%}
</div>
{%endif%}

{%if events%}
<div class="events">
	<div class="program_title">Program dnia:</div>
	{%for item in events%}
	<div class="event">{{item.hour_begin|date:"G.i"}}&nbsp;-&nbsp;{{item.hour_end|date:"G.i"}}:&nbsp;
	{%if item.description %}<a class="hdesc" href="#">{{item.title}}</a>{%else%}{{item.title}}{%endif%}
	<div class="event_desc">{{item.description}}</div>
	</div>
	
	{%endfor%}
</div>
{%endif%}
<div class="list">
{%for item in list%}
	<div class="item">
		{{item.show}}
	</div>
{%endfor%}
</div>
{%endblock%}