{%extends 'main.html'%}
{%block content%}
<div class="colorbox">

<div class="subcontent dynamic">
<div class="list">
{%for item in list%}
	<div class="photo">
	<a rel="prettyPhoto[pp_gal]" title="{{item.description}}"  href="/media/{{item.image}}" ><img width="200px" src="/media/thumbnails/{{item.image}}" /></a>
		{%if item.author%}<div class="author">{{item.author}}</div>{%endif%}
		{%if item.show_date%}<div class="date">{{item.publish_date}}</div>{%endif%}
		<div class="clearer"></div>
		{%if item.show_title%}<div class="title sub">{{item.title}}</div>{%endif%}
		
	</div>
{%endfor%}
<div class="clearer"></div>
</div>
</div>
</div>
{%endblock%}