body{

	/* background-color: #00183f; */
	background-color: #fff; 
	
}
.subheader .title{
	font-size: 40px;
	text-align: center;
	font-weight: bold;;
	color: #333;
}
.subheader .date{
	font-size: 20px;
	text-align: center;
	font-weight: bold;;
	color: #333;
}
.program_title{
	font-size:25px;
	text-decoration: underline;
	font-weight: bold;
}
.events h3{
	font-size:20px;
	text-transform:capitalize;
	font-weight: bold;
}
.guest .guest_title{
	font-size: 18px;
	font-weight: bold;
}
.guest {
	margin-bottom:20px;
}
.events, .guests{
	margin-bottom:40px;
}
.event a, .guest a{
	color: #333399;
}
.clearer{
	clear: both;
}
.footer{
	
}
.end{
	width: 100%;
	height: 100px;
}
.header{

/*border-width: 2px;
	border-color: #0042aa;
	border-style: solid;*/
	border-radius: 20px;
	width: 900px;
	height: 200px;
	background-color: #fff;
	position:relative;
	margin-left: auto;
	margin-right: auto; 
	margin-top: 10px;
	font-family: Arial, Verdana;
}
.header img{
	margin-top:10px;
	margin-left:10px;
	
}
.header img.right{
	float:right;
	margin-top: 10px;
	margin-right: 20px;
}
.header a{
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Arial, Verdana;
	font-weight: bold;
	color: rgb(0,116,187);
	font-size: 16px;
	line-height: 1.5;
}
.header a:hover{
	color: #4f5502;
}
.header ul{ 
float:left;
	margin-top: 147px;;
}
.header li{
	float:left;
	margin-left: 9px;
	
}
.header .sentence{
	position:absolute;
	width:650px;;
	height: 112px;
	overflow: hidden;
	left:182px;
	top:25px;
	color: #444;
	margin-left:11px;
	text-align: justify;
}
.sentence .sauthor{
	text-align:right;

	font-size: 14px;;
	
}
.sentence .stext{
	line-height: 1.2;
	display:none;
	font-size: 20px;

	
}
.frame{
/*
	border-width: 2px;
	border-color: #0874bb;
	border-style: solid;
*/
	padding-top: 20px;
	margin-top: 20px;
	width: 900px;
	border-radius: 20px 20px  0 0;
	min-height: 100%;
	background-color: #fff;
	position:relative;
	margin-left: auto;
	margin-right: auto; 
}
.button{
	position:absolute;
	left: -68px;
}
.button a{
	display:block;
	width: 100%;
	height: 100%;
	z-index: 1000;
	position:absolute;
}
.b1{
	top: 20px;
	left: -67px;
}
.b2{
	top: 99px;
	left: -66px;
}
.b3{
	top: 177px;
	left: -69px;
}
.b4{
	top: 255px;
	left: -69px;
}
.b1:hover{
	top: 20px;
	left: -78px;
}
.b2:hover{
	top: 99px;
	left: -76px;
}
.b3:hover{
	top: 177px;
	left: -78px;
}
.b4:hover{
	top: 255px;
	left: -79px;
}
.top img{
	margin-left: 20px;
	margin-top: 20px;
}
.mini_logo {
	float:left;
	margin :5px;
}

.content{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	font-family: Arial, Verdana;
	line-height: 1.5;
}
.item .title{
	font-weight: bold;
	font-size:18px;
	border-width: 0px;
	border-bottom-width: 2px;
	border-style: solid;
	width: 100%;
	float:left;
	
}
.item .movie{
width: 680px;
	margin-right:auto;
	margin-left:auto;
	margin-top: 10px;
	background-color: #f0f0f0;
	border-radius:8px;
	margin-bottom: 20px;
}
.item .movie_object{
width: 640px;
	margin-right:auto;
	margin-left:auto;
	margin-top: 10px;
}
.item .singlephoto .title{
	margin-left: 20px;
	width: 640px;
	background-color: #f0f0f0;
	
}
.item .news{
	margin-bottom: 20px;
}
.item .movie .author, .item .singlephoto .author, .item .news .author{
	margin-left: 20px;
	font-size: 14px;
	float: left;
}
.item .movie .date, .item .singlephoto .date, .item .news .date{
	margin-right: 20px;
	font-size: 14px;
	float: right;
}
.item .movie .description , .item .singlephoto .description{
	width: 640px;
	margin-right:auto;
	margin-left:auto;
	margin-bottom:10px;
}
.item .news .date, .item .news .author{
	margin-left: 0;
	margin-right:0;
	font-weight: bold;;
}
.item .movie .title{
	background-color: #fff;
}
.banner{
	position:relative;
	float:left;
	margin-left: 40px;
}
.banner a{
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 1000;'
}
.event_desc, .guest_desc {
	display: none;
	/*
	border-width: 2px;
	border-style:groove;
	border-color: #eee; */
	background-color: #eee;
	border-radius: 5px;
	
	margin-left: 75px;
	font-size:90%;
	padding:5px;
}
.gallery.short{
	position:relative;
	width: 820px;
	background-color: #fff;
	border-radius:20px;
	margin-left:-10px;
	color: #000;
	min-height: 254px;
	margin-bottom:20px;
}
.gallery.short .title {
	border-width:0;
	
	
	margin-left:9px;
	margin-right:20px;
	margin-top:0px;
}
.gallery.short .list{
	
}
.gallery.short .date{
	
	float:right;
	margin-right:9px;
	margin-bottom: 10px;
	font-size:12px;
}
.gallery.short .author{
	
	float:left;
	margin:20px;
	margin-bottom: 10px;
}
.gallery.short .description{
	font-size:14px;
	line-height: 1.2;
	margin-left:9px;
	
}
.gallery.short a.more{
	margin-right: 9px;
	margin-top:5px;
	float: right;
	color: #000;
	font-size:12px;
}
.photo {
	width:200px;
	margin: 32px;
	margin-top: 10px;
	margin-bottom: 10px;
	
	float: left;
	background-color: #eee;
}
.photo .date {
	font-size: 10px;
	float:right;
	margin-right:2px;
}
.photo .author{
	font-size: 10px;
	float:left;
	margin-right:2px;
}
.photo .title{
	margin-left:2px;
	margin-right:2px;
	width:100%;
}
.item.contact{
	margin-bottom:50px;
	clear:both;
}
.item.contact .title {
	line-height: 25px;
	text-decoration: underline;
	border-width: 0;
}
.contact h3{
	float: left;
	margin-right:5px;
	/*font-weight: bold;*/
}
.contact .street, .contact .postal {
	float: left;
	margin-right: 5px;
}
.house, .flat h3{
	float: left;
}
.house h3 {
	margin-right:0;
}
.flat h3 {
	font-size: 23px; 
	line-height: 24px;
	font-weight:normal;
	margin-right:0;
}
.singlephoto {
	width:680px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:20px;
}
.singlephoto img{
	width:640px;
	
	margin-left: 20px;;
	margin-right: auto;
}
.singlephoto .title{
	border-width: 0;
}
.item.sponsor{
	width: 100px;
	margin:2px;
	float:left;
	position:relative;
}
.item.sponsor img{
	max-width:100px;
	float:left;
	margin-right:10px;
	
}
.item.sponsor a{
	display:block;
	position:absolute;
	width: 100%;
	height: 100%;
}
.item.sponsor .name{
	font-size: 20px;
	font-weight: bold;
	border-bottom: 2px;
	border-style:solid;
}
.flash_sponsors{
	width: 900px;
	margin: auto;
	margin-top:10px;
	margin-bottom:-10px;
	/*background-color: #aaa;*/
	height:80px;
	border-radius: 10px;
	position:relative;
	overflow:hidden;
}
.flash_sponsor img{
	height: 80px;
	
}
.flash_sponsor{
	margin-right:15px;
	float:left;
	
}

.guests_page .guest_desc{
	display:block;
}
.guests_page .guest_title{
	/*float: left;*/

}
.guests_page .guest_desc {
	margin-left: 0px;
	background-color: #fff;
	padding: 0;
	text-align: justify;
}
.guests_page .hours, .guests_page .place {
	/*float: right;
	margin-left: 5px;*/
	font-size: 70%;
}
ul.dot{
	list-style-type:circle;
	margin-left: 20px;
	text-align: left;
}
ul.enum{
	list-style-type:decimal;
	margin-left: 20px;
	text-align: left;
	
}
p {
	margin-top:10px;
	margin-bottom: 10px;
	text-align: justify;
}
img.inline_photo {
	margin:2px;
}
img.inline_photo.fullwidth{
	max-width: 800px;
}
img.inline_photo.halfwidth{
	max-width: 400px;
}
img.inline_photo.qwidth{
	max-width:200px;
}
img.inline_photo.left{
	float:left;
}
img.inline_photo.right{float:right;}
