<html>
<head  prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
<title>Bramy Wiary</title>
<!-- facebook data --> 
  <meta property="fb:app_id" content="511964675532319" /> 
  <meta property="og:type"   content="website" /> 
  <meta property="og:url"    content="http://bramywiary.com.pl" /> 
  <meta property="og:title"  content="BramyWiary" /> 
  <meta property="og:image"  content="http://bramywiary.com.pl/static/img/logo.001.png" />

<meta property="og:description" content="Bramy Wiary to święto ludzi wiarygodnych. Chcemy przez kilka kwietniowych dni świętować naszą wiarę.
Świętować tak, by przyciągnąć naszym entuzjazmem i autentycznością wszystkich tych, dla których wiara straciła swój blask i nie jest już fundamentem życia.
W te dni chcemy pokazać, że wiara naprawdę działa w naszym życiu. Chcemy dzielić się wiarą, śpiewać, rozmawiać, pomagać innym." />
<link rel="shortcut icon" href="/static/img/favicon.ico" />
<link rel="stylesheet" href="/static/css/reset.css" />
<link rel="stylesheet" href="/static/css/main.css" />
<link rel="stylesheet" href="/static/css/fun.css" />
<script src="/static/js/jquery-1.6.1.min.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" href="/static/css/prettyPhoto.css" type="text/css" media="screen" charset="utf-8" />
<script src="/static/js/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/tools.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/fun.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
	<div class="header"> 
	<div class="banner">
		<div class="container">
			
			<img  src="/static/img/tlogorne.jpg" class="hyperlink" />
			<a href="/"></a>
		</div>
	</div>
	<!--  
		<div class="sentence">
			<a href="/sentence/"></a>
		</div>
	-->
		<ul>
			<li><a href="/" >Strona główna</a></li>
			
			<li style="margin-left:60px;"><a href="/guests.html" >Goście</a></li>
			
			<li style="margin-left:32px;"><a href="/page,GraMiejska.html" >Gra miejska</a></li>
			<li style="margin-left:28px;"><a href="/page,KonkursFotograficzny.html" >Konkurs fotograficzny</a></li>
			<li style="margin-left:91px; height:48px;"><a href="/sponsors.html" >Sponsorzy</a></li>
			<li style="margin-left:42px;"><a href="/contact.html" >Kontakt</a></li>
		</ul>
		<!-- <img src="/static/img/logo2.png"  class="right" /> 
		<div class="funbutton 1 5 p1"></div>
		<div class="funbutton 2 p2" ></div>
		<div class="funbutton 3 p3"></div>
		<div class="funbutton 4 6 p4"></div>-->
	</div>
	<!-- <div class="flash_sponsors" id="sponsor">
		<div class="container">
		<a href="/sponsor/all"></a>
		</div>
	</div>
	-->
	<div class="frame" >
		
		<div class="button b1"><img src="/static/img/czw.png" class="hyperlink" /><a href="/day,1,sztuka_wiary.html"></a></div>
		<div class="button b2"><img src="/static/img/pt.png" class="hyperlink" /><a href="/day,2,nauka_wiary.html"></a></div>
		<div class="button b3"><img src="/static/img/sb.png" class="hyperlink" /><a href="/day,3,mowa_wiry.html"></a></div>
		<div class="button b4"><img src="/static/img/nd.png" class="hyperlink" /><a href="/day,4,swiato_wiary.html"></a></div>
		<div class="content">
			{%block content%}
			{%endblock%}
		</div>
		<div class="end"></div>
	</div>
	<div class="clearer"></div>
	<div class="footer"></div>
	<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $("a[rel^='prettyPhoto']").prettyPhoto();
  });
</script>
</body>
</html>
